 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 735px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 805px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px auto 0;
}

.u-section-1 .u-image-1 {
  width: 376px;
  height: 376px;
  background-image: url("images/cfe68933-da36-41cd-995b-1f9102c07996.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  width: 813px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 112px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 273px;
  --gap: 30px;
  grid-auto-columns: calc(25% - 22.5px);
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-4 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 221px;
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 535px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 867px;
}

.u-section-2 .u-tabs-1 {
  min-height: 867px;
  height: auto;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 69px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  background-image: url("images/Foto20.06.11115646.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 12px 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-image-2 {
  min-height: 568px;
  background-image: url("images/Altdoeberner_see_friebe.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-2 .u-image-3 {
  min-height: 220px;
  background-image: url("images/GUB.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 348px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 19px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-image-4 {
  min-height: 378px;
  background-image: url("images/Lupenschnitte.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 60px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 60px;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-5 {
  min-height: 284px;
  background-image: url("images/GW-Gleichen1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-4 {
  margin: 19px 0 0;
}

.u-section-2 .u-image-6 {
  min-height: 365px;
  background-image: url("images/20230812_151110.GIF");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 365px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 60px;
}

.u-section-2 .u-text-9 {
  margin: 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px 0;
}

.u-section-2 .u-layout-wrap-5 {
  width: 100%;
  margin: 0;
}

.u-section-2 .u-image-7 {
  min-height: 378px;
  background-image: url("images/40117-2-L6furPrasentationen.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-13 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px 60px;
}

.u-section-2 .u-text-11 {
  margin: 0;
}

.u-section-2 .u-text-12 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-14 {
  min-height: 379px;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px 60px;
}

.u-section-2 .u-text-13 {
  margin: 0;
}

.u-section-2 .u-text-14 {
  margin: 23px 0 0;
}

.u-section-2 .u-image-8 {
  min-height: 364px;
  background-image: url("images/Datengrundlage.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px 0 24px;
}

.u-section-2 .u-layout-wrap-6 {
  margin: 0;
}

.u-section-2 .u-image-9 {
  min-height: 403px;
  background-image: url("images/Bild2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-17 {
  min-height: 403px;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px 60px;
}

.u-section-2 .u-text-15 {
  margin: 0;
}

.u-section-2 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-18 {
  min-height: 377px;
}

.u-section-2 .u-container-layout-22 {
  padding: 30px 60px;
}

.u-section-2 .u-text-17 {
  margin: 0;
}

.u-section-2 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-10 {
  min-height: 377px;
  background-image: url("images/IMG_7716.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-23 {
  padding: 30px;
}

.u-section-2 .u-tab-pane-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-24 {
  padding: 30px 0;
}

.u-section-2 .u-layout-wrap-7 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-image-11 {
  min-height: 568px;
  background-image: url("images/02062008250.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-25 {
  padding: 30px 60px;
}

.u-section-2 .u-image-12 {
  min-height: 220px;
  background-image: url("images/Bundeswehr_Logo_Marine_with_lettering2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-26 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-22 {
  min-height: 348px;
}

.u-section-2 .u-container-layout-27 {
  padding: 30px 60px;
}

.u-section-2 .u-text-19 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-20 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-wrap-8 {
  width: 100%;
  margin: 9px 0 0;
}

.u-section-2 .u-image-13 {
  min-height: 378px;
  background-image: url("images/Laboe.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-28 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-24 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-29 {
  padding: 30px 59px;
}

.u-section-2 .u-text-21 {
  margin: 0 1px;
}

.u-section-2 .u-text-22 {
  margin: 20px 1px 0;
}

.u-section-2 .u-layout-cell-25 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-30 {
  padding: 30px 60px;
}

.u-section-2 .u-text-23 {
  margin: 0;
}

.u-section-2 .u-text-24 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-14 {
  min-height: 284px;
  background-image: url("images/Allied_Maritime_Command_Naples1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-31 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    min-height: 680px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 26px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: auto;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: auto;
  }

  .u-section-2 .u-layout-wrap-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    min-height: 350px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 350px;
  }

  .u-section-2 .u-layout-wrap-6 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-tabs-1 {
    min-height: 683px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 0 34px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 19px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 37px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 717px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    min-height: 278px;
    background-position: 50% 100%;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    background-size: auto 125%;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-6 {
    min-height: 418px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-9 {
    min-height: 255px;
  }

  .u-section-2 .u-layout-cell-17 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-18 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-10 {
    min-height: 238px;
  }

  .u-section-2 .u-image-11 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-25 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-12 {
    min-height: 261px;
  }

  .u-section-2 .u-container-layout-26 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-22 {
    min-height: 212px;
  }

  .u-section-2 .u-container-layout-27 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-13 {
    background-position: 80.52% 50%;
  }

  .u-section-2 .u-layout-cell-24 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-29 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-25 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: -195px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 24px 50px 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 69px;
  }

  .u-section-2 .u-image-1 {
    min-height: 723px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 538px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 209px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 372px;
    background-size: 125%;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 568px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 367px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-7 {
    min-height: 437px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 330px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    min-height: 446px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    min-height: 383px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-10 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-11 {
    min-height: 419px;
  }

  .u-section-2 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-12 {
    min-height: 196px;
  }

  .u-section-2 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-22 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-13 {
    min-height: 756px;
  }

  .u-section-2 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-14 {
    min-height: 336px;
  }

  .u-section-2 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 455px;
  }

  .u-section-2 .u-image-2 {
    min-height: 339px;
  }

  .u-section-2 .u-image-3 {
    min-height: 132px;
  }

  .u-section-2 .u-image-4 {
    min-height: 223px;
  }

  .u-section-2 .u-image-5 {
    min-height: 310px;
  }

  .u-section-2 .u-image-6 {
    min-height: 215px;
  }

  .u-section-2 .u-image-7 {
    min-height: 275px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-2 .u-image-8 {
    min-height: 281px;
  }

  .u-section-2 .u-image-9 {
    min-height: 241px;
  }

  .u-section-2 .u-image-10 {
    min-height: 225px;
  }

  .u-section-2 .u-image-11 {
    min-height: 264px;
  }

  .u-section-2 .u-image-12 {
    min-height: 123px;
  }

  .u-section-2 .u-image-13 {
    min-height: 323px;
  }

  .u-section-2 .u-image-14 {
    min-height: 368px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 702px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-3 .u-list-1 {
  margin: 20px 0 60px;
}

.u-section-3 .u-repeater-1 {
  min-height: 523px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 7px;
}

.u-section-3 .u-image-1 {
  width: 547px;
  height: 345px;
  margin: 2px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 18px 295px 0 4px;
}

.u-section-3 .u-text-3 {
  margin: 20px 18px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 7px;
}

.u-section-3 .u-image-2 {
  width: 547px;
  height: 345px;
  object-position: 50% 76.73%;
  margin: 2px 0 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 18px 295px 0 4px;
}

.u-section-3 .u-text-5 {
  margin: 20px 18px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 7px;
}

.u-section-3 .u-image-3 {
  width: 547px;
  height: 345px;
  object-position: 50% 15.35%;
  margin: 2px 0 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 18px 295px 0 4px;
}

.u-section-3 .u-text-7 {
  margin: 20px 18px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 7px;
}

.u-section-3 .u-image-4 {
  width: 547px;
  height: 345px;
  margin: 2px 0 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 18px 295px 0 4px;
}

.u-section-3 .u-text-9 {
  margin: 20px 18px 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 7px;
}

.u-section-3 .u-image-5 {
  width: 547px;
  height: 345px;
  margin: 2px 0 0 auto;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 18px 295px 0 4px;
}

.u-section-3 .u-text-11 {
  margin: 20px 18px 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 7px;
}

.u-section-3 .u-image-6 {
  width: 547px;
  height: 345px;
  margin: 2px 0 0 auto;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 18px 295px 0 4px;
}

.u-section-3 .u-text-13 {
  margin: 20px 18px 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 202px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 202px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3 .u-list-1 {
    min-height: 523px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-gap: 10px 10px;
  }

  .u-section-3 .u-image-1 {
    inset: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: 32px;
    margin-left: 4px;
  }

  .u-section-3 .u-image-2 {
    inset: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-right: 32px;
    margin-left: 4px;
  }

  .u-section-3 .u-image-3 {
    inset: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-right: 32px;
    margin-left: 4px;
  }

  .u-section-3 .u-image-4 {
    inset: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 9px;
    margin-right: 32px;
    margin-left: 4px;
  }

  .u-section-3 .u-image-5 {
    inset: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 9px;
    margin-right: 32px;
    margin-left: 4px;
  }

  .u-section-3 .u-image-6 {
    inset: auto;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 9px;
    margin-right: 32px;
    margin-left: 4px;
  }

  .u-section-3 .u-gallery-nav-1 {
    top: 180px;
  }

  .u-section-3 .u-gallery-nav-2 {
    top: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-5 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-6 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-3 .u-text-12 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    min-height: 529px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-5 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-10 {
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-6 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-12 {
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-nav-1 {
    left: 20px;
  }

  .u-section-3 .u-gallery-nav-2 {
    right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 221px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 44px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 221px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 44px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 221px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-top: 44px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 221px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    margin-top: 44px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-5 {
    height: 221px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-10 {
    margin-top: 44px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-6 {
    height: 221px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-12 {
    margin-top: 44px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 20px;
  }

  .u-section-3 .u-gallery-nav-1 {
    top: 114px;
  }

  .u-section-3 .u-gallery-nav-2 {
    top: 114px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1107px;
}

.u-section-4 .u-tabs-1 {
  min-height: 952px;
  margin-top: 60px;
  margin-bottom: 25px;
  height: auto;
}

.u-section-4 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-4 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-4 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-4 .u-tab-link-3 {
  background-image: none;
  font-size: 1.25rem;
  letter-spacing: normal;
  font-weight: 700;
}

.u-section-4 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-gallery-1 {
  height: 294px;
  width: 1080px;
  margin: 0 auto;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 20px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  margin: 30px 7px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  width: auto;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 485px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
}

.u-section-4 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 31px 30px 0;
}

.u-section-4 .u-gallery-2 {
  height: 294px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 20px;
}

.u-section-4 .u-back-image-4 {
  width: 375px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 20px;
}

.u-section-4 .u-back-image-5 {
  width: 375px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-6 {
  width: 375px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  font-weight: 700;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  width: auto;
  margin: 0;
}

.u-section-4 .u-text-7 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  width: auto;
  margin: 0;
}

.u-section-4 .u-text-10 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-4 .u-text-11 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
}

.u-section-4 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-13 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 410px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-14 {
  width: auto;
  margin: 0;
}

.u-section-4 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 31px 30px 0;
}

.u-section-4 .u-gallery-3 {
  height: 294px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-3 {
  --gap: 0px;
}

.u-section-4 .u-gallery-item-7 {
  margin-right: 20px;
}

.u-section-4 .u-back-image-7 {
  width: 375px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-8 {
  margin-right: 20px;
}

.u-section-4 .u-back-image-8 {
  width: 375px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-9 {
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-9 {
  width: 375px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-15 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-4 .u-text-16 {
  line-height: 1.8;
  font-weight: 700;
}

.u-section-4 .u-layout-wrap-4 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px;
}

.u-section-4 .u-text-17 {
  width: auto;
  margin: 0;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px;
}

.u-section-4 .u-text-18 {
  width: auto;
  margin: 0;
}

.u-section-4 .u-text-19 {
  font-weight: 700;
}

.u-section-4 .u-layout-wrap-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-9 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px;
}

.u-section-4 .u-text-20 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 410px;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px;
}

.u-section-4 .u-text-21 {
  width: auto;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-tabs-1 {
    min-height: 1107px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-4 .u-tab-link-3 {
    letter-spacing: 0px;
    padding: 10px 25px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 18px 0;
  }

  .u-section-4 .u-gallery-1 {
    width: 1073px;
    margin-top: 12px;
    margin-right: 30px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    border-style: solid;
    margin: 30px auto 0;
    padding: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-gallery-2 {
    height: 293px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin: 25px 30px 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin: 30px 30px 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 0;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin: 15px 30px 0;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-9 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin: 25px 30px 0;
  }

  .u-section-4 .u-text-16 {
    width: auto;
    margin: 30px 30px 0;
  }

  .u-section-4 .u-layout-wrap-4 {
    margin-top: 0;
  }

  .u-section-4 .u-text-19 {
    width: auto;
    margin: 31px 30px 0;
  }

  .u-section-4 .u-layout-wrap-5 {
    margin-top: -16px;
  }

  .u-section-4 .u-text-20 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-gallery-1 {
    width: 720px;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-4 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-4 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding: 0 3px;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 14px;
    margin-left: 14px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 510px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 585px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 360px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 435px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 510px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 585px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  margin-bottom: 0;
  min-height: 703px;
}

.u-section-5 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-5 .u-gallery-1 {
  width: 602px;
  height: 404px;
  margin: 60px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  top: -20px;
}

.u-section-5 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-carousel-indicators-1 {
    bottom: 10px;
  }

  .u-section-5 .u-over-slide-1 {
    padding: 20px;
  }

  .u-section-5 .u-over-slide-2 {
    padding: 20px;
  }

  .u-section-5 .u-over-slide-3 {
    padding: 20px;
  }

  .u-section-5 .u-over-slide-4 {
    padding: 20px;
  }

  .u-section-5 .u-over-slide-5 {
    padding: 20px;
  }

  .u-section-5 .u-over-slide-6 {
    padding: 20px;
  }

  .u-section-5 .u-over-slide-7 {
    padding: 20px;
  }

  .u-section-5 .u-over-slide-8 {
    padding: 20px;
  }

  .u-section-5 .u-over-slide-9 {
    padding: 20px;
  }

  .u-section-5 .u-over-slide-10 {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-gallery-1 {
    width: 340px;
    margin-top: -1px;
    margin-left: -39px;
  }
}