 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 735px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 805px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px auto 0;
}

.u-section-1 .u-image-1 {
  width: 376px;
  height: 376px;
  background-image: url("images/Bewerbungsfoto_online1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  width: 813px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 112px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 273px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-4 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 535px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-tabs-1 {
  min-height: 867px;
  margin-top: 61px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 380px;
  background-image: url("images/GUB.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 60px 0;
}

.u-section-2 .u-text-4 {
  width: 440px;
  margin: 21px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
}

.u-section-2 .u-image-2 {
  min-height: 380px;
  background-image: url("images/KFGrabendorf.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-2 .u-image-3 {
  min-height: 380px;
  background-image: url("images/40117-2-L6furPrasentationen.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 60px;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 377px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 60px;
}

.u-section-2 .u-text-7 {
  margin: 65px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-4 {
  min-height: 377px;
  background-image: url("images/Datengrundlage.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 24px 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-2 .u-image-5 {
  min-height: 380px;
  background-image: url("images/Bild2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 60px;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 377px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px 60px;
}

.u-section-2 .u-text-11 {
  margin: 65px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-6 {
  min-height: 377px;
  background-image: url("images/IMG_7716.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px 0;
}

.u-section-2 .u-layout-wrap-4 {
  width: 100%;
  margin: 0;
}

.u-section-2 .u-image-7 {
  background-image: url("images/Laboe.png");
  background-position: 50% 50%;
  min-height: 376px;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-14 {
  min-height: 376px;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px 60px;
}

.u-section-2 .u-text-13 {
  margin: 37px 0 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-15 {
  min-height: 379px;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px 60px;
}

.u-section-2 .u-text-15 {
  margin: 39px 0 0;
}

.u-section-2 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-8 {
  background-image: url("images/Grundausbildung1.png");
  background-position: 50% 50%;
  min-height: 379px;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 418px;
  }

  .u-section-2 .u-text-3 {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 439px;
  }

  .u-section-2 .u-btn-2 {
    padding: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 374px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 374px;
  }

  .u-section-2 .u-image-4 {
    min-height: 374px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 380px;
  }

  .u-section-2 .u-image-6 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-4 {
    margin-top: 67px;
    margin-bottom: -50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-7 {
    min-height: 380px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 380px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 377px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
  }

  .u-section-2 .u-image-8 {
    min-height: 377px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 337px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    width: 350px;
  }

  .u-section-2 .u-text-4 {
    width: 350px;
  }

  .u-section-2 .u-image-2 {
    min-height: 337px;
  }

  .u-section-2 .u-image-3 {
    min-height: 337px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    min-height: 337px;
  }

  .u-section-2 .u-image-5 {
    min-height: 337px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-6 {
    min-height: 337px;
  }

  .u-section-2 .u-image-7 {
    min-height: 240px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-8 {
    min-height: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 319px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    min-height: 319px;
  }

  .u-section-2 .u-image-3 {
    min-height: 319px;
  }

  .u-section-2 .u-image-4 {
    min-height: 319px;
  }

  .u-section-2 .u-image-5 {
    min-height: 319px;
  }

  .u-section-2 .u-image-6 {
    min-height: 319px;
  }

  .u-section-2 .u-image-7 {
    min-height: 227px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-top: 31px;
  }

  .u-section-2 .u-image-8 {
    min-height: 225px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-3 .u-tabs-1 {
  min-height: 952px;
  margin-top: 60px;
  margin-bottom: 25px;
  height: auto;
}

.u-section-3 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-gallery-1 {
  height: 294px;
  width: 1080px;
  margin: 0 auto;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 20px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  margin: 30px 7px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 -12px;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-gallery-2 {
  height: 294px;
  width: 1080px;
  margin: 30px auto 0;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 20px;
}

.u-section-3 .u-back-image-4 {
  width: 294px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-5 {
  width: 294px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-6 {
  width: 294px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 30px 0;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 31px 30px 0;
}

.u-section-3 .u-gallery-3 {
  height: 294px;
  width: 1060px;
  margin: 0 30px;
}

.u-section-3 .u-gallery-item-7 {
  margin-right: 20px;
}

.u-section-3 .u-back-image-7 {
  width: 375px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  margin-right: 20px;
}

.u-section-3 .u-back-image-8 {
  width: 375px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-9 {
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-9 {
  width: 375px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 1073px;
    margin-right: 30px;
    margin-left: 37px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 30px;
    margin-left: 37px;
  }

  .u-section-3 .u-gallery-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-gallery-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
    margin-left: 7px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-3 .u-gallery-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-gallery-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding: 0 3px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 14px;
    margin-left: 14px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 14px;
  }

  .u-section-3 .u-gallery-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 694px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  min-height: 523px;
  margin: 20px 0 60px;
}

.u-section-4 .u-repeater-1 {
  min-height: 523px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 7px;
}

.u-section-4 .u-image-1 {
  height: 345px;
  width: 547px;
  margin: 2px 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 18px 297px 0 2px;
}

.u-section-4 .u-text-3 {
  margin: 20px 18px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 7px;
}

.u-section-4 .u-image-2 {
  height: 345px;
  width: 547px;
  margin: 2px 0 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 18px 297px 0 2px;
}

.u-section-4 .u-text-5 {
  margin: 20px 18px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 7px;
}

.u-section-4 .u-image-3 {
  height: 345px;
  width: 547px;
  margin: 2px 0 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 18px 297px 0 2px;
}

.u-section-4 .u-text-7 {
  margin: 20px 18px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 7px;
}

.u-section-4 .u-image-4 {
  height: 345px;
  width: 547px;
  margin: 2px 0 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 18px 297px 0 2px;
}

.u-section-4 .u-text-9 {
  margin: 20px 18px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 7px;
}

.u-section-4 .u-image-5 {
  height: 345px;
  width: 547px;
  margin: 2px 0 0 auto;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 18px 297px 0 2px;
}

.u-section-4 .u-text-11 {
  margin: 20px 18px 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 7px;
}

.u-section-4 .u-image-6 {
  height: 345px;
  width: 547px;
  margin: 2px 0 0 auto;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  margin: 18px 297px 0 2px;
}

.u-section-4 .u-text-13 {
  margin: 20px 18px 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 202px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 202px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-4 .u-text-2 {
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-text-6 {
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-text-8 {
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
  }

  .u-section-4 .u-text-10 {
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    width: auto;
  }

  .u-section-4 .u-text-12 {
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    width: auto;
  }

  .u-section-4 .u-gallery-nav-1 {
    top: 180px;
  }

  .u-section-4 .u-gallery-nav-2 {
    top: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 332px;
    width: 526px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 332px;
    width: 526px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 332px;
    width: 526px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 332px;
    width: 526px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-5 {
    height: 332px;
    width: 526px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-6 {
    height: 332px;
    width: 526px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 206px;
    width: 326px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 206px;
    width: 326px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 206px;
    width: 326px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 206px;
    width: 326px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-5 {
    height: 206px;
    width: 326px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-6 {
    height: 206px;
    width: 326px;
  }

  .u-section-4 .u-gallery-nav-1 {
    top: 114px;
  }

  .u-section-4 .u-gallery-nav-2 {
    top: 114px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 585px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 380px;
  width: 706px;
  margin: 30px auto 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-5 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-5 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}